body {
    font-family: courier, monospace;
    text-align: center;
    padding-top: 50px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 20px;
    background-color: #eedcdccd;
    font-family: courier, monospace;
    text-align: center;
    height: 100%;
    box-sizing: border-box;
}

h2 {
    margin: 0;
    color: #e1d8d8;
}