body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(30, 30, 30);
    font-family: monospace, 'Courier New', Courier, monospace;
    color: rgb(250, 250, 250);
}

#typing {
    font-size: 2.5em;
    font-weight: 300;
    min-height: 1.2em;
    border-right: 3px solid rgb(218, 208, 208);
    animation: blink 1s infinite;
    padding: 0 10px;
    white-space: nowrap;
}

#btn {
    color: white;
    background-color: #e7c81c;
    font-size: 16px;
    font-weight: bold;
    font-family: "Courier New", Courier, monospace;
    padding: 10px 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

#btn:hover {
    background-color: #d4af37;
}