.Cat {
    text-align: center;
    max-width: 400px;
    margin: 50px auto;
}

.Cat img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.description {
    padding: 10px;
    font-size: 18px;
}

.buttons {
    margin-top: 15px;
}

button {
    padding: 10px 25px;
    margin: 0 10px;
    cursor: pointer;
}