/* add basic styling to the page: 0 */
body {
    font-family: Arial, sans-serif;
    margin: 50px;
    padding: 20px;
    background-color: #ffffff;
}

#para {
    padding: 15px;
    border: 1px solid #ccc;
    background-color: #e8e8e8;
    margin-bottom: 20px;
}

table {
    font-family: courier, sans-serif;
    border-collapse: collapse;
    border: 1px solid #333;
    width: 100%;
    background-color: #f5f5f5;
    overflow: hidden;
}

th,
td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #ede9e9a3;
}

tr:last-child {
    background-color: #d8d3c78b;
}